<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-97/blob/main/actividad_semana3-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre de la entrega: Semana 3 - Actividad 1
Nombre: Oscar Villa Cardenas
Matrícula: A01794052
Materia:Ciencia y analitica
Profesor: Jobish
Fecha:2022/09/22

# Fundamentos de bases de datos

## Almacenes de datos

Un almacén de datos es básicamente una base de datos gigantesca que contiene información de muchas fuentes distintas y las enlaza entre sí para que los aproveches.
Un almacén de datos tiene el desafío de tomar datos desde diferentes fuentes, transformándolos en algún tipo de esquema que nos permita hacer consultas a estas diferentes fuentes de datos simultáneamente, y nos permite percibirlos, a través del análisis de datos.
Podemos hacer consultas en ellos a través de SQL, lenguaje de consulta estructurado, o a través de herramientas de graficas.
Hay muchos desafíos en el almacenamiento de datos, uno de los desafíos en el almacén de datos es la normalización de datos en donde tienes que darte cuenta de como todos esos campos de las diferentes fuentes de datos se relacionan entre sí.

## ETL versus ETL

Básicamente, primero extraes los datos que quieres de los sistemas operacionales que tú quieras.
Esta etapa de la transformación se podría leer todas las líneas de los logs del servidor, transformando eso en una tabla, donde se extrae de cada una de esas líneas del servidor información clave y organizarlo en una estructura tabular que entonces se puede cargar al almacén de datos, como una tabla en una base de datos.
Ahí es donde entra el concepto de ETL, la idea sería extraer la información como se hizo antes pero cargaríamos eso directamente a nuestro repositorio de datos y se usaría el poder del repositorio para para hacer la transformación en el repositorio.

# Selección y limpieza de los Datos en Python

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

url="https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
df = pd.read_csv(url)
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [ ]:
#Check which columns have null values
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [ ]:
#copy the dataframe
ndf = df.copy()

In [ ]:
#Since it's a categorical data is better to use mode (Gender 1 = male; 2 = female)
X2Mode = ndf['X2'].mode()
ndf['X2'].fillna(value = X2Mode, 
                    inplace = True)
print(X2Mode)

0    2.0
dtype: float64

In [ ]:
#Since it's a categorical data is better to use mode (1 = graduate school; 2 = university; 3 = high school; 4 = others)
X3Mode = ndf['X3'].mode()
ndf['X3'].fillna(value = X3Mode, 
                    inplace = True)
print(X3Mode)

0    2.0
dtype: float64

In [ ]:
#Since it's a categorical data is better to use mode (1 = married; 2 = single; 3 = others)
X4Mode = ndf['X4'].mode()
ndf['X4'].fillna(value = X4Mode, 
                    inplace = True)
print(X4Mode)

0    2.0
dtype: float64

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X5Mean = ndf['X5'].mean()
ndf['X5'].fillna(value = X5Mean, 
                    inplace = True)
print(X5Mean)
ndf['X5'].skew()

34.0

0.7326630554081551

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X6Mean = ndf['X6'].mean()
ndf['X6'].fillna(value = X6Mean, 
                    inplace = True)
print(X6Mean)
ndf['X6'].skew()

0.0

0.7318976410774228

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X7Mean = ndf['X7'].mean()
ndf['X7'].fillna(value = X7Mean, 
                    inplace = True)
print(X7Mean)
ndf['X7'].skew()

0.0

0.7904130556056

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X8Mean = ndf['X8'].mean()
ndf['X8'].fillna(value = X8Mean, 
                    inplace = True)
print(X8Mean)
ndf['X8'].skew()

0.0

0.8325389343593653

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X9Mean = ndf['X9'].mean()
ndf['X9'].fillna(value = X9Mean, 
                    inplace = True)
print(X9Mean)
ndf['X9'].skew()

0.0

0.9997621875887739

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X10Median = ndf['X10'].median()
ndf['X10'].fillna(value = X10Median, 
                    inplace = True)
print(X10Median)
ndf['X10'].skew()

0.0

1.0081736097166485

In [ ]:
#According to series skew method the data is moderately skewed so is better to use mean than median
X11Mean = ndf['X11'].mean()
ndf['X11'].fillna(value = X11Mean, 
                    inplace = True)
print(X11Mean)
ndf['X11'].skew()

0.0

0.9478071520081152

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X12Median = ndf['X12'].median()
ndf['X12'].fillna(value = X12Median, 
                    inplace = True)
print(X12Median)
ndf['X12'].skew()

22387.0

2.6640159943916344

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X13Median = ndf['X13'].median()
ndf['X13'].fillna(value = X13Median, 
                    inplace = True)
print(X13Median)
ndf['X13'].skew()

21207.0

2.705361121728564

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X14Median = ndf['X14'].median()
ndf['X14'].fillna(value = X14Median, 
                    inplace = True)
print(X14Median)
ndf['X14'].skew()

20089.0

3.088016516565902

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X15Median = ndf['X15'].median()
ndf['X15'].fillna(value = X15Median, 
                    inplace = True)
print(X15Median)
ndf['X15'].skew()

19052.0

2.8221265899777124

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X16Median = ndf['X16'].median()
ndf['X16'].fillna(value = X16Median, 
                    inplace = True)
print(X16Median)
ndf['X16'].skew()

18107.0

2.8766990127398895

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X17Median = ndf['X17'].median()
ndf['X17'].fillna(value = X17Median, 
                    inplace = True)
print(X17Median)
ndf['X17'].skew()

17081.0

2.846775604225143

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X18Median = ndf['X18'].median()
ndf['X18'].fillna(value = X18Median, 
                    inplace = True)
print(X18Median)
ndf['X18'].skew()

2100.0

14.671599404078952

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X19Median = ndf['X19'].median()
ndf['X19'].fillna(value = X19Median, 
                    inplace = True)
print(X19Median)
ndf['X19'].skew()

2009.0

30.454000116010267

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X20Median = ndf['X20'].median()
ndf['X20'].fillna(value = X20Median, 
                    inplace = True)
print(X20Median)
ndf['X20'].skew()

1800.0

17.21899667319077

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X21Median = ndf['X21'].median()
ndf['X21'].fillna(value = X21Median, 
                    inplace = True)
print(X21Median)
ndf['X21'].skew()

1500.0

12.905366135319161

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X22Median = ndf['X22'].median()
ndf['X22'].fillna(value = X22Median, 
                    inplace = True)
print(X22Median)
ndf['X22'].skew()

1500.0

11.127765809881401

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
X23Median = ndf['X23'].median()
ndf['X23'].fillna(value = X23Median, 
                    inplace = True)
print(X23Median)
ndf['X23'].skew()

1500.0

10.640767198983557

In [ ]:
#According to series skew method the data is highly skewed so is better to use median than mean
YMedian = ndf['Y'].median()
ndf['Y'].fillna(value = YMedian, 
                    inplace = True)
print(YMedian)
ndf['Y'].skew()

0.0

1.3437370759837008

In [ ]:
#We no longer have null values on the columns
ndf.isnull().any()

ID     False
X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

# Parte 3: Preparación de los datos

1.   ¿Qué datos considero mas importantes? ¿Por qué?
  Yo siempre he considerado a todos los datos importantes
2.   ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?
  No se eliminaron simplemente se remplazaron los datos nulos
3.   ¿Es necesario ordenar los datos para el análisis? Sí/No/¿Por qué?
  No creo simplemente cheque el metodo skew() para checar el nivel de sesgado que tenian los datos
4.   ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.
  No
5.   ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?
  Se reemplazaron los datos nulos de una columna por otros datos dependiendo de los datos de la columna:
  *   Para los datos categoricos se uso la moda
  *   Para los datos simetricos o levemente sesgados se uso el promedio
  *   Para los datos altamente sesgados se utilizo la mediana